*, *::before,
 *, *::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: lightblue;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vw;
    justify-content: center;
    align-items: center;
}

h1  {
    text-align: center;
}

p   {
    text-align: center;
}

.container {
    width:800px;
    max-width: 80%;
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;

}
  
.btn {
font-size: 16px;    
background-color: rgb(101, 220, 241);
border: 2px solid;
border-radius: 5px;
padding: 10px 20px;
}

.btn.hover {
    background-color: blue;

}

.btn.wrong{
    background-color: red;
}

.startBtn{
background-color: green;
color: white;
}

.submitBtn {
    font-size: 16px;    
    background-color: rgb(101, 220, 241);
    border: 2px solid;
    border-radius: 5px;
    padding: 10px 20px;
    }